html, body, #root {
    height: 100%;    
    background-color: rgba(255,255,224,0.2);
}

body {
  font-family: "Financier Display", "ArgestaHairline", sans-serif;
   
}

body p, label, legend {
  font-size: large;
  color: darkolivegreen;
}

body, .max-height{
    min-height: 100%;
}

main{
    text-align: center;
}

h2 {
  color: darkolivegreen;
  padding-bottom: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}

span {
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: end;
}

input, select {
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  border: 1px solid rgba(85, 107, 47, 0.15);
  border-radius: 4px;
  color:  darkolivegreen;
  background-color: rgba(255,255,224,0.2);  
  height: auto;
  margin: auto;
}

input:hover, select:hover {
    background-color: lightyellow;
}

input:focus-visible, select:focus-visible {
    background-color: lightyellow;
    outline:2px solid rgba(85, 107, 47, 0.4);
}


.spaced-div > * {
   margin-left: 1%;
   margin-right: 1%;
}

.green-bckgr {
  background-color: darkolivegreen;
}

.top-split {
  border-top: 1px solid darkolivegreen;
}

.left-aligned-input{
  float:left;
  padding-left: 10px;
  padding-right: 10px;
}

.left-aligned-input label, .left-aligned-input input {
  display: block;
  text-align: left;
  margin-bottom: 3px;
}

.error-class {
  color:red;
  font-size: small;
  font-weight: 600;
  padding-top: 5px;
}

::placeholder {
    color:  rgba(85, 107, 47, 0.4);
}
