html, body, #root {
    height: 100%;
}

body {
  font-family: "Financier Display", "ArgestaHairline", sans-serif;
   
}

body p {
  font-size: large;
}

body, .max-height{
    min-height: 100%;
}

.green-bckgr {
  background-color: darkolivegreen;
}