html, body, #root {
    height: 100%;    
    background-color: rgba(255,255,224,0.2);
}

body {
  font-family: "Financier Display", "ArgestaHairline", sans-serif;
   
}

body p {
  font-size: large;
  color: darkolivegreen;
}

body, .max-height{
    min-height: 100%;
}

.green-bckgr {
  background-color: darkolivegreen;
}

main{
    text-align: center;
}

h2 {
  color: darkolivegreen;
  padding-bottom: 20px;
  font-weight: 600;
}