table {
  font-size: min(1vw, 15px);
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

table td,
table th {
  border: 3px solid darkolivegreen;
  padding: 8px;
  margin: 3px;
}

table th {
  background-color: rgba(85, 107, 47, 0.8);
  color: lightyellow;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
}

table td,
span {
  color: darkolivegreen;
}

table tr:nth-child(even) {
  background-color: rgba(85, 107, 47, 0.15);
}

table tr:hover {
  background-color: moccasin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#goto-input {
  max-width: 50px;
  margin-right: 7px;
}

#rows-per-page-span {
  align-items: right;
}

.dropdown-content {
  display: none;
  background-color: lightyellow;
  width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(85, 107, 47, 0.8);
  text-align: center;
  float: right;
}

.dropdown-content a {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: darkolivegreen;
  cursor: default;
}

.dropdown-content a:hover {
  background-color: moccasin
}

.show {
  display: block;
}
