button {
    border: none;
    text-align: center;
    color: lightyellow;
    border-radius: 20px;
    padding: 3px;
}

button:hover:not([disabled]) {
    color: moccasin;
}

button div {
  border-color: lightyellow;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

}

button:disabled,
button[disabled]{
  background-color:rgba(85, 107, 47, 0.5);
}

