header p {
  margin-bottom: 0px;
  color: lightyellow;
}



.decorative-strips {
  background-color: moccasin;
}

.title {
  font-size:3rem;
}

.logo {
  width: 7rem;
  height: 7rem;
  border-color: moccasin;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.4rem;
  
}
